<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yjkj.framework.rbac.outcome.dao.OutcomeDao">
	<resultMap type="com.yjkj.framework.rbac.outcome.model.Outcome" id="outcomeMap">
	<association property="userInfo" javaType="com.yjkj.framework.rbac.userInfo.model.UserInfo" column="user_id" select="com.yjkj.framework.rbac.userInfo.dao.UserInfoDao.queryOne"></association>
	<association property="typee" javaType="com.yjkj.framework.rbac.typee.model.Typee" column="type_id" select="com.yjkj.framework.rbac.typee.dao.TypeeDao.informationLoadOne"></association>
	<association property="family" javaType="com.yjkj.framework.rbac.family.model.Family" column="family_id" select="com.yjkj.framework.rbac.family.dao.FamilyDao.informationLoadOne"></association>
	</resultMap>
	<select id="informationLoad" parameterType="java.util.HashMap"
		resultMap="outcomeMap">
		SELECT
		*
		FROM
		outcome 
		<where>
			is_delete = '0'
			<if test="outcome.user_id != null and outcome.user_id != ''">
				AND user_id=#{outcome.user_id}
			</if>
		</where>
		ORDER BY
		id
		DESC
		LIMIT
		#{pager.offSet},#{pager.pageSize}
	</select>
	<select id="informationLoadAll"
		resultMap="outcomeMap">
		SELECT
		*
		FROM
		outcome 
		<where>
			is_delete = '0'
			<if test="user_id != null and user_id != ''">
				AND user_id=#{user_id}
			</if>
		</where>
		ORDER BY
		id
		DESC
	</select>
	<select id="count" resultType="int">
		SELECT
		COUNT(*)
		FROM
		outcome
		<where>
			is_delete = '0'
			<if test="user_id != null and user_id != ''">
				AND user_id=#{user_id}
			</if>
		</where>
	</select>
	<select id="informationLoadOne"  resultMap="outcomeMap">
		SELECT
		*
		FROM
		outcome
		WHERE
		id=#{id}
	</select>


	<delete id="informationDelete" >
		UPDATE
		outcome
		SET
		is_delete = '1'
		WHERE id=#{id}
	</delete>


	<insert id="informationAdd" parameterType="com.yjkj.framework.rbac.outcome.model.Outcome">
		INSERT INTO
		outcome
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="user_id != null">
				user_id,
			</if>
			<if test="type_id != null">
				type_id,
			</if>
			<if test="family_id != null">
				family_id,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="come_date != null">
				come_date,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="is_delete != null">
				is_delete,
			</if>
			<if test="flag != null">
				flag,
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="user_id != null">
				#{user_id},
			</if>
			<if test="type_id != null">
				#{type_id},
			</if>
			<if test="family_id != null">
				#{family_id},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="come_date != null">
				#{come_date},
			</if>
			<if test="createtime != null">
				#{createtime},
			</if>
			<if test="is_delete != null">
				#{is_delete},
			</if>
			<if test="flag != null">
				#{flag},
			</if>
		</trim>
	</insert>
	<update id="informationUpdate" parameterType="com.yjkj.framework.rbac.outcome.model.Outcome">
		UPDATE
		outcome
		<set>
			<if test="user_id != null">
				user_id=#{user_id},
			</if>
			<if test="type_id != null">
				type_id=#{type_id},
			</if>
			<if test="price != null">
				price=#{price},
			</if>
			<if test="family_id != null">
				family_id=#{family_id},
			</if>
			<if test="come_date != null">
				come_date=#{come_date},
			</if>
			<if test="createtime != null">
				createtime=#{createtime},
			</if>
			<if test="is_delete != null">
				is_delete=#{is_delete},
			</if>
			<if test="flag != null">
				flag=#{flag},
			</if>
		</set>
		WHERE id=#{id}
	</update>
</mapper>